/* General Styles */
body,
.App {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100vw;
  min-height: 100vh;
  color: white;
  /* background-image: url('../public/images/dark.jpg'); */
}


h1,
Link,
a {
  color: white;
}

Link,
a {
  cursor: pointer;
}

input {
  color: black;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  padding: 20px;
  width: 100vw;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 7%;
}

/* Vertical Navbar */
.vertical {
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 70px;
  padding: 20px;
}

.dropdown {
  display: none;
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 2;
  padding: 1em;
}

.dropdown.show {
  display: block;
}

.dropdown table {
  width: 100%;
  color: white;
  border-collapse: collapse;
}

.dropdown table th,
.dropdown table td {
  border: 1px solid white;
  padding: 0.5em;
  text-align: left;
}

/* Logo */
.venture {
  color: yellow;
  /* position: relative;
  left: 20px; */
}

.vector {
  color: green;
  /* position: absolute;
  bottom: 0px;
  left: 100px; */
}



/* Active Link Styles */
.active {
  color: red;
}

/* Section Styles */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Search Styles */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
}

.search label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.search button {
  margin-top: 10px;
}